.backgroundLogin{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
}

.textBibit{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
}

.boxLogin{
    position: absolute;
    width: 30%;
    height: 30%;
    left: 36%;
    top: 30%;

    background: #FFFFFF;
    border: 1px solid #D7D7DE;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.btnLogin{
    background: #00ab6b;
    border: 1px solid #D7D7DE;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 50%;
    height: auto;
    /* text-align: left; */
    padding: 5px;
    color: #fff;

}

.btnLogin:hover{
    cursor: pointer;
    border: 1px solid #D7D7DE;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 60%;
}

.googleLogo{
    width: 15%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}